@mixin selection {
  ::-moz-selection { @content; }
  ::selection { @content; }
}

@include selection {
  color: white;
  background: hotpink;
}
/* Entire body */
body {
  font-size: 14px;
  background: #fff;
}

h3{
  font-size: 18px;
}
.bold {
  font-weight: bold;
}
.imported {
  background-color: #E2E2E2;
}
.modal .modal-body {
  max-height: 500px;
  overflow-y: auto;
}
a{
  color: #f26522;
}
a:hover {
  color: #607890;
  text-decoration: none;
}
.iita_theme_color {
  color: #f26522;
}
.iita_theme_bg_color{
  background-color: #f26522 !important;
}
header .navbar-default, .trail-wrapper, footer{
  padding-left: 4%;
  padding-right: 4%;
}

/* Tags */
legend{
  padding: 10px 20px 5px 20px;
}

/* Buttons */
.btn-primary, .btn-primary:hover {
  color: #fff;
  background-color: #f26522;
  border-color: #f26522;
}

/* Labels */
.label {
  padding: 5px 10px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  border-radius: .25em;
}
.label-primary {
  background-color: #ffffff;
  color: #1a1f27;
  border:1px solid #1a1f27;
}
.label-primary:hover, .label-primary:focus, .label-primary:active {
  background-color: #ffffff !important;
  border:1px solid #f26522;
  color: #f26522;
}
.container{
  padding-left: 0;
  padding-right: 0;
}

/* Header */
header{
  padding-bottom: 55px;
}
header .navbar-default {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid #eee;
}
header .navbar-default .navbar-nav > li > a {
  color: #333333;
  padding:15px 10px;
}
header .navbar-brand {
  padding: 3px 0px;
}
header .navbar-brand img {
  height: 35px;
}

header .navbar-default .navbar-nav > li > a{
  background: #fff;
}
header .navbar-default .navbar-nav > li > a:hover, header .navbar-default .navbar-nav > li > a:focus{
  background: #fff !important;
  color:#f26522;
}
header .navbar-default .navbar-nav > .open > a, header .navbar-default .navbar-nav > .open > a:focus{
  color: #1a1f27;
  background: #fff;
}

header .navbar-default .container{
  padding-right: 0;
  padding-left: 0;
}

/* Breadcrumb */
.trail-wrapper {
  background: #1a1f27;
  margin-bottom:0;
  border-bottom: none;
}

.trail-wrapper .breadcrumb, .trail-wrapper .breadcrumb i {
  font-size: 13px;
}
.trail-wrapper .breadcrumb a, .trail-wrapper .breadcrumb i, .trail-wrapper .breadcrumb>li+li:before{
  color: #8a8a8a;
}
.trail-wrapper .breadcrumb>li+li.active:before{
  display: none;
}
.trail-wrapper .breadcrumb>li>a:hover, .trail-wrapper .breadcrumb > .active{
  text-decoration: none;
}
.trail-wrapper .breadcrumb>li>a:hover{
  color: #f26522;
}
.trail-wrapper .breadcrumb > .active{
  background: #f26522;
  color: #fff;
  padding: 8px;
  margin-left:10px;
}
.trail-wrapper .col-xs-12{
  padding-left: 0;
  padding-right: 0;
}
.breadcrumb {
  padding: 0;
}
.breadcrumb li{
  color: #8a8a8a;
  padding: 8px 0;
}

/* Nav tabs */
.nav-tabs > li > a{
  font-size:14px;
}

/* Sidebar */
#main-container #sidebar{
  background: #fff;
  padding: 15px 17px 15px 17px;
  border: none;
}
#main-container #sidebar .sidebar-container{
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
  padding:20px 25px 20px 40px;
  position: fixed;
  bottom:0;
  top:0;
  overflow-y: auto;
}
.list-group-item{
  background: none;
  border: none;
}
body .list-group-item.active
{
  background: none;
  border: none;
  color: #1a1f27;
}
a.list-group-item.active:hover{
  background: none !important;
  color: inherit;
}
.list-group-item.active .list-group-item-heading{
  color: #333333;
  font-weight: bold;
}
#ds-options {
  padding-top: 0px;
}
#ds-options .ds-option-set-head{
  padding: 0 10px;
  color: #f26522;
  text-shadow: none;
  font-weight: bold;
  border-left: 2px solid #f26522;
}
.list-group-item:last-child{
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
a.list-group-item{
  padding: 5px 0px;
  color: #555555;
}
a.list-group-item:hover, a.list-group-item:focus{
  text-decoration: none;
  color: #f26522;
  background:none;
}
#ds-feed-option img{
  width:23px;
}
/* Sidebar accordion */
#sidebar .active {
  cursor: pointer;
  transition: 0.4s;
}
#sidebar .active:after {
  content: '\002B';
  float: right;
  margin-left: 5px;
}
#sidebar .active_accordion:after {
  content: "\2212";
}
#sidebar .list-group-items-container {
  padding-left:15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
#sidebar .list-group-item.active .list-group-item-heading{
  color:#555555;
  font-weight: normal;
}
#sidebar .list-group-item.active_accordion .list-group-item-heading{
  color:#1a1f27;
  font-weight: bold;
}
/* Remove sidebar accordion on whole repository*/
#aspect_viewArtifacts_Navigation_list_browse .active {
  cursor: none;
}
#aspect_viewArtifacts_Navigation_list_browse .active:after {
  content: none;
}
#aspect_viewArtifacts_Navigation_list_browse .list-group-items-container {
  max-height: inherit;
}
#aspect_viewArtifacts_Navigation_list_browse .list-group-item.active .list-group-item-heading{
  color:#1a1f27;
  font-weight: bold;
}
#aspect_viewArtifacts_Navigation_list_browse .list-group-items-container{
  padding: 0px;
}
#main-container .row-offcanvas-right {
  background: #fff;
  border: none;
}

/* Search */
#ds-search-form{
  padding: 10px 0px 20px 0px;
}
.advanced-filter-row .btn-group{
  padding: 0px;
}
.artifact-description a{
  color: #333;
}
.artifact-description a:hover{
  color: #f26522;
  text-decoration: none;
}

/* Right content */
.main-content{
  padding:30px 5% 30px 5px;
  background: #fff;
  margin-bottom: 0;
}
.main-content-body{
  background: #fff;
  padding: 20px 25px;
  border: 1px solid #e5e5e5;
}
.ds-div-head{
  font-size: 18px;
  font-weight:500;
}
fieldset .ds-form-item{
  padding-bottom: 13px;
}
/* Main body */
.page-header {
  font-weight: bold;
  font-size: 16px;
}
/* Footer */
.main-content footer .site-footer a:hover{
  text-decoration: none;
}
footer{
  margin-top:0;
  color:#8a8a8a;
  background: #1a1f27;
}
footer a{
  color:#fff;
}
footer p{
  margin: 0;
}
footer .site-footer .container{
  padding-top:20px;

}

/* Publications */
.publication-records-modal, .publication-records-modal ul {
  list-style-type: none;
  padding-left: 0px;
}
.publication-records-import-btn {
  margin: 5px 0px 15px 0px;
}
.item-wrapper{
  padding-bottom: 5px;
}
/* Image thumbnails */
.thumbnail > img, .thumbnail a > img{
  width:100%;
  height:150px;
}
.img-thumbnail{
  background: none;
  border: none;
  padding:0px;
}
.thumbnail{
  position: relative;
  overflow: hidden;
  padding:0px;
}
.thumbnail:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 10px solid;
  border-color: white white #eee #eee;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), -1px 1px 1px rgba(0, 0, 0, 0.2);
}

#aspect_submission_StepTransformer_field_search {
  width: 81%;
  display: inline;
}
#aspect_submission_StepTransformer_field_lookup {
  width:19%
}

#aspect_submission_StepTransformer_item_publication-title{
  margin-bottom:5px;
}

/* Community */
.community-browser-row a[name='community-browser-link'] {
  line-height: 40px;
  font-size: 14px;
  color: #f26522;
  font-weight: bold;
}

.community-browser-row a[name='community-browser-link']:hover {
  color: #f26522;
}
.community-browser-row a.toggler{
  padding: 5px 8px;
  margin-top: 10px;
  font-size: 9px;
  line-height: 1.5;
}
.community-browser-row a.toggler:hover,
.community-browser-row a.toggler:active,
.community-browser-row a.toggler:focus {
  color:#607890;
}
.artifact-title {
  font-size: 14px;
}

/* Administrative */
.table-responsive{
  padding-top: 15px;
}
.table-striped{
  border: 1px solid #d9d9d9;
}

/* Alerts */
.alert{
  margin: 10px 20px 20px 20px;
}

/*Remove texts */
.banner-text{
  display: none;
}

/* Pagination */
.pagination-info{
  padding: 6px 15px;
}

/* Homepage */
.homepage .main-content, .homepage .main-content-body{
  padding:0 15px 0 0;
}
.homepage .main-content-body{
  border: none;
}
.homepage .trail-wrapper{
  display: none;
}
.homepage .body-content{
  padding-left:30px;
  padding-right:30px;
}
/* Front page banner */
.homepage #ds-search-option{
  margin-bottom:25px;
  margin-top: 10px;
  padding:50px 0 80px 20px;
  background: url("../images/banner_bg.jpg") no-repeat;
  background-size: cover;
  width: 100%;
}
.homepage .banner-text{
  display: block;
}
.homepage #ds-search-option h2{
  width: 50%;
  color: #fff;
  font-size:22px;
  line-height:1.3;
  font-weight: bold;
  font-family: Canela Deck Bold;
}
.homepage #ds-search-option p{
  color:#fff;
  font-size:17px;
}
.homepage #ds-search-form{
  padding-bottom: 0;
  padding-left:0;
  padding-right: 0;
  width:50%;
}

@media (min-width: 768px) {
  .container{
    width: 100%;
  }
  #sidebar{
    min-height: calc(100vh - 60px);
  }
  #sidebar .sidebar-container{
    width:22.8%;
  }
  .main-content{
    min-height: calc(100vh - 14px);
    border-left: none;
    width:75%;
  }
  .homepage .main-content{
    padding-left:-150px;
  }
}
